* {
    box-sizing: border-box;
}

body {
    max-width: 1000px;
    margin: auto;
}
.container {
    border: 5px dotted #555;
    padding: 0 10px;
}

.color {
    background-color: rgb(30, 150, 30);
}

.transparent {
    background-color: transparent;
}

.transparency {
    background-color: rgba(30, 150, 30, 0.75);
}

.opacity {
    opacity: 75%;
}

.image {
    background-image: url(/imagens/madeira-1349x671.jpg);
    border: 3px solid #333;
    height: 100px;
    margin: 5px 0;
}

.image-1 {
    background-image: none;
}

.pos {
    background-image: url(/imagens/teach-239x50.jpg);
    background-repeat: no-repeat;
    border: 3px solid #333;
    height: 100px;
    margin: 5px 0;
}

.pos-1 {
    background-position: right bottom;
}

.pos-2 {
    background-position: 50% 50%;
}

.pos-3 {
    background-position: 50px 25px;
}

.size-1 {
    background-size: 90% 75%;
}

.size-2 {
    background-size: contain;
}

.size-3 {
    background-size: cover;
}

.rpt {
    background-repeat: repeat;
}

.rpt-1 {
    background-repeat: no-repeat;
}

.rpt-2 {
    background-repeat: repeat-x;
}

.rpt-3 {
    background-repeat: repeat-y;
}

.rpt-4 {
    background-repeat: round;
}

.rpt-5 {
    background-repeat: space;
}

.origin {
    background-image: url(/imagens/madeira-1349x671.jpg);
    background-repeat: no-repeat;
    border: 5px dotted #999;
    padding: 10px;
    margin: 5px 0;
    height: 100px;
}

.origin-1 {
    background-origin: border-box;
}

.origin-2 {
    background-origin: content-box;
}

.clip-1 {
    background-origin: border-box;
}

.clip-2 {
    background-clip: padding-box;
}

.clip-3 {
    background-clip: content-box;
}

.attach {
    background-image: url(/imagens/madeira-1349x671.jpg);
    background-repeat: repeat-y;
    border: 3px solid #333;
    margin: 5px 0;
    height: 100px;
    overflow-y: scroll;
}

.attach-1 {
    background-attachment: scroll;
}

.attach-2 {
    background-attachment: local;
}

.attach-3 {
    background-attachment: fixed;
}

.short {
    border: 15px dotted #555;
    background: yellow url(/imagens/teach-239x50.jpg) bottom no-repeat border-box padding-box;
    height: 120px;
}