* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2 {
    background-color: aquamarine;
    padding: 15px;
    text-align: center;
}

.float {
    overflow: auto;
}

p {
    text-align: justify;
    margin: 10px;
}

.pic {
    width: 15%;
    height: auto;
}

.teach {
    float: left;
    margin-right: 20px;
}

.food {
    float: right;
    margin-left: 20px;
}

.clearfix {
    border: 2px solid blue;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.clearfix > div {
    float: left;
    width: 33.33%;
    text-align: center;
    padding: 25px;
}

.div1 {
    background-color: orange;
}
.div2 {
    background-color: lightskyblue;
}
.div3 {
    background-color: red;
}

.container {
    background-color: gray;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.container > div {
    background-color: green;
    width: 20%;
    text-align: center;
    padding: 25px;
}

.container > div:hover {
    color: white;
    background-color: yellowgreen;
}

.left {
    float: left;
}

.right {
    float: right;
}