* {
    box-sizing: border-box;
}

.div1 {
    background-color: aquamarine;
    overflow: auto;
}

.div1 img {
    float: left;
}

.div1 p {
    float: left;
    width: 50%;
}

.div2 {
    background-color: bisque;
    padding: 5px;
    overflow: auto;
}

.div2 div {
    float: left;
    width: 33.33%;
    text-align: center;
    padding: 30px;
    opacity: 0.5;
}

.div2 div:hover {
    opacity: 1;
}

.num1 {
    background-color: red;
}

.num2 {
    background-color: green;
}

.num3 {
    background-color: blue;
}

.div3 {
    overflow: auto;
    background-color: lightblue;
    padding: 5px;
}

.div3 div {
    padding: 30px;
    text-align: center;
    width: 30%;
}

.num4 {
    background-color: yellowgreen;
    float: left;
}

.num5 {
    background-color: yellow;
    float: right;
}