* {
    box-sizing: border-box;
}

h1, h2 {
    background: aquamarine;
    padding: 0.5em;
    margin: 0;
}

.container {
    background: burlywood;
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto 200px 300px;
    gap: 20px 10px;
    grid-auto-flow: dense;
}

.items {
    background: cadetblue;
    padding: 50px;
    text-align: center;
    font-size: 35px;
}

.item1 {
    grid-row: 1 / 3;
}

.item8 {
    grid-column: 2 / 4;
}