body {
    margin: 0;
    height: 125vh;
}

header img {
    height: 80px;
    float: left;
}

header {
    background: burlywood;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

nav {
    float: left;
    width: 480px;
}

ul {
    list-style-type: none;
    height: 80px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul li a {
    text-decoration: none;
}



ul li a:hover {
    color: black;
}

main {
    margin-top: 80px;
    padding: 20px;
    text-align: justify;
}